<h2>Registration</h2>
<h1>Team ID: {{ registraionViewModel.teamId }}</h1>
<form>
  <div class="form-group">
    <label for="firstName">First Name</label>
    <input type="text" class="form-control" name="firstName" [(ngModel)]="registraionViewModel.firstName" id="firstName" placeholder="Enter First Name"
    />
  </div>
  <div class="form-group">
    <label for="lastName">First Last</label>
    <input type="text" class="form-control" name="lastName" [(ngModel)]="registraionViewModel.lastName" id="lastName" placeholder="Enter Last Name"
    />
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="text" class="form-control" name="email" [(ngModel)]="registraionViewModel.email" id="email" placeholder="Enter Email"
    />
  </div>
  <div class="form-group">
    <label for="biography">Biography</label>
    <textarea class="form-control" name="biography" [(ngModel)]="registraionViewModel.biography" id="biography" rows="5" placeholder="Enter Biography"></textarea>
  </div>
  <div class="form-group">
    <label for="dob">Date of Birth</label>
    <input type="date" class="form-control" name="dob" [(ngModel)]="registraionViewModel.dob" id="dob" placeholder="Enter Date of Birth"
    />
  </div>
  <div class="form-group">
    <label for="teamId">Team</label>
    <select id="teamId" class="form-control" name="teamId" [(ngModel)]="registraionViewModel.teamId">
      <option>Please Select An Option:</option>
      <option *ngFor="let team of teamLookupList" [value]="team.Id">{{team.Name}}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="heightInFeet">Height</label>
    <div class="row">
      <div class="col-xs-4 col-sm-2">
        <input type="number" class="form-control" name="heightInFeet" [(ngModel)]="registraionViewModel.heightInFeet" id="heightInFeet"
          placeholder="Enter Height in Feet" />
      </div>
      <div class="col-xs-1 height-label">feet</div>
      <div class="col-xs-4 col-sm-2">
        <input type="number" class="form-control" name="heightInInches" [(ngModel)]="registraionViewModel.heightInInches" id="heightInInches"
          placeholder="Enter Height in Inches" />
      </div>
      <div class="col-xs-1 height-label">inches</div>
    </div>
  </div>
  <div class="form-group">
    <label for="weight">Weight</label>
    <div class="row">
      <div class="col-xs-4 col-sm-2">
        <input type="number" class="form-control" name="weight" [(ngModel)]="registraionViewModel.weight" id="weight" placeholder="Enter Weight in Pounds"
        />
      </div>
      <div class="col-xs-1 weight-label">lbs</div>
    </div>
  </div>
  <div class="form-group">
    <label for="PointGuard">Position</label>
    <div>
      <div class="form-check-inline">
        <label class="form-check-label">
        <input type="radio" class="form-check-input" name="position" [(ngModel)]="registraionViewModel.position" id="pointGuard" value="PointGuard">
        Point Guard
      </label>
      </div>
      <div class="form-check-inline">
        <label class="form-check-label">
        <input type="radio" class="form-check-input" name="position" [(ngModel)]="registraionViewModel.position" id="shootingGuard" value="ShootingGuard">
        Shooting Guard
      </label>
      </div>
      <div class="form-check-inline">
        <label class="form-check-label">
        <input type="radio" class="form-check-input" name="position" [(ngModel)]="registraionViewModel.position" id="smallForward" value="SmallForward">
        Small Forward
      </label>
      </div>
      <div class="form-check-inline">
        <label class="form-check-label">
        <input type="radio" class="form-check-input" name="position" [(ngModel)]="registraionViewModel.position" id="powerForward" value="PowerForward">
        Power Forward
      </label>
      </div>
      <div class="form-check-inline">
        <label class="form-check-label">
        <input type="radio" class="form-check-input" name="position" [(ngModel)]="registraionViewModel.position" id="center" value="Center">
        Center
      </label>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="brokenFoot">Past Injuries</label>
    <div>
      <label class="form-check-inline" *ngFor="let injury of injuryLookupList; let i = index;">
        <input type="checkbox" class="form-check-input" [id]="injuryFieldList[i]" [name]="injuryFieldList[i]" [value]="injury" (change)="addOrRemoveInjury($event.target.value)" />
        {{injury}}
      </label>
    </div>
  </div>
  
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" name="password" [(ngModel)]="registraionViewModel.password" id="password" placeholder="Enter password"/>
  </div>

  <button type="button" class="btn btn-default btn-primary">Submit</button>
</form>
